<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBERAQVKrV__Dg-nZvRA3XZUWVbjgy8svk</string>
	<key>GCM_SENDER_ID</key>
	<string>182868027568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toolkitx</string>
	<key>PROJECT_ID</key>
	<string>toolkitx-7037f</string>
	<key>STORAGE_BUCKET</key>
	<string>toolkitx-7037f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182868027568:ios:7cc58e4a77b4094b97f375</string>
</dict>
</plist>